@let p = product();
@let discountedPrice = p.price * (1 - p.discount) | currency;

<div class="details">
  <img ngSrc="getImageUrl(p)" [alt]="p.name" />
  <div>
    <h2>{{ p.name }}</h2>
    <p>{{ p.description }}</p>
    <p>Part Type: {{p.category | categoryToPartType}}
    </p>
    @if (p.productNotes; as notes) {
      <p>Product Notes: {{ notes }}</p>
    }
    <p>Available Inventory: {{ availableInventory() }}
      @if ( availableInventory() === 1){
        <span class="pill red">Only one left</span>
      } @else if (availableInventory() < 4) {
        <span class="pill yellow">Only few left</span>
      } @else {
        <span class="pill">Get yours today</span>
      }
    </p>

    <div> Favorite Rating: {{favorite()}} </div>
<!-- Note the "favorite" below is not sending a value of the signal like favorite(), it is sending the signal itself -->
<!-- For two way binding, you use a signal instead of a value of the signal  -->
    <bot-slider [(sliderValue)] = "favorite" (sliderValueChange)="handleSliderChange($event)" ) />
  </div>
</div>
<div class="price">
  <p [ngClass]="getPriceClasses()">{{ p.price | currency }}</p>
  @if (p.discount > 0) {
  <p>{{ discountedPrice }}</p>
  }
<!--  Removing the button below and pass in from parent catalog.component.html using Content Projection -->
  <!--  <button class="cta" (click)="addToCart()">Buy</button>-->
<!--  <ng-content></ng-content>-->
  <!--  remove ng-content and use if/else on mode to display shop/buy or cart/remove  button-->
  @if (mode() === 'shop'){
    <button class="cta" (click)="add()">Buy</button>
  } @else { //cart
    <button class="remove" (click)="remove()">Remove</button>
  }
</div>
