@let hasCartItems = cartItems().length > 0;

<h1 class="header">Your Cart</h1>
@if (hasCartItems){
  <button (click)="checkout.scrollIntoView({behavior: 'smooth'})">Proceed to Checkout</button>
}
<ul>
  @for (product of cartItems(); track product.id) {
  <li>
<!-- in the below line  (removeFromCart) is the output property in the parent product-details.ts   -->
<!--    removeFromCart($event) method called when remove is clicked-->
    <bot-product-details [product]="product" (removeFromCart)="removeFromCart($event)" mode="cart"/>
  </li>
  } @empty {
    <h2>You do not have items in your cart</h2>
  }
</ul>
<!--add a span here and move #checkout from button to span -->
<span #checkout>
@if (hasCartItems){
<button class="cta">Checkout</button>
}
</span>
