<div class="filters">
 <button (click)="categoryFilter='heads'">Heads</button>
  <button (click)="categoryFilter='arms'">Arms</button>
  <button (click)="categoryFilter='torsos'">Torsos</button>
  <button (click)="categoryFilter='bases'">Bases</button>
  <button (click)="categoryFilter=null">All</button>
  <button (click)="addProduct()">Add New</button>
</div>
<ul>
  @for (product of products | filterByCategory:categoryFilter; track product.id; let idx = $index, count=$count, even=$even, odd=$odd, first=$first, last=$last) {
<!-- background color odd/alternate rows, remove border line from first row   -->
  <li [class.alt]="odd" [class.top]="first" >
    <div>{{idx+1}} of {{count}}</div>
<!--    in  (addToCart)="addToCart(product)  below, (addToCart) is the output event in the parent product-details -->
<!--    and addToCart(product) is the method that is called -->
    <bot-product-details [product]="product" (addToCart)="addToCart($event)"  mode="shop"/>
<!--     <button class="cta" (click)="addToCart(product)">Buy</button>-->
  </li>
  }
</ul>
